#################################################
# Server
#################################################

HOST=0.0.0.0
PORT=8000

#################################################
# Model
#################################################

MODEL_REPO=bartowski/Phi-3.5-mini-instruct-GGUF

MODEL_FILE=Phi-3.5-mini-instruct-Q4_K_M.gguf

#################################################
# Inference
#################################################

CONTEXT_LENGTH=4096

TEMPERATURE=0.7

MAX_TOKENS=300

GPU_LAYERS=-1

#################################################
# Logging
#################################################

LOG_REQUESTS=true